<!-- Header -->
  <header id="header">
    <div class="logo container">
      <div>
        <h1><%= link_to "新宿区手をつなぐ親の会", root_path, id: "logo" %></h1>
      </div>
    </div>
  </header>

<!-- Nav -->
  <nav id="nav">
    <ul>
      <li class= "<%= 'current' if controller.controller_name == 'home' %>"><%= link_to "Home", root_path %></li>
      <li class= "<%= 'current' if controller.controller_name == 'about' %>"><%= link_to "親の会とは", about_path %></li>
      <li class= "<%= 'current' if controller.controller_name == 'activities' %>"><%= link_to "活動報告", activities_path %></li>
      <li class= "<%= 'current' if controller.controller_name == 'recruitmentMember' %>"><%= link_to "会員・賛助会員", recruitmentMember_path %></li>
    </ul>
  </nav>