
<!-- Nav -->
  <nav class="navbar navbar-default navbar-fixed-top" id="nav">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">手をつなぐ親の会</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav_target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
      </div>
      <div class="collapse navbar-collapse" id="nav_target">
        
        <ul class="nav navbar-nav">
          <li class="<%= 'active' if controller.action_name == 'home' %>"><%= link_to "Home", root_path %></li>
          <li class="<%= 'active' if controller.action_name == 'about' %>"><%= link_to "親の会とは", about_path %></li>
          <li class="<%= 'active' if controller.action_name == 'activities' %>"><%= link_to "活動報告", activities_path %></li>
          <li class="<%= 'active' if controller.action_name == 'recruitmentMember' %>"><%= link_to "会員・賛助会員", recruitmentMember_path %></li>
        </ul>
      </div>
    </div>
  </nav>