<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>

  <body class="homepage">
    <div id="page-wrapper">
      <%= render 'layouts/header' %>
      <!-- Main -->
        <div id="main-wrapper">
          <div id="main" class="container">
            <div class="row">
                <%= render 'layouts/sidebar' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
    </div>
    <%= render 'layouts/scripts' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
